<!doctype HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title> MOVIEMOTIONS </title>
  </head>
  <body>
    <div id="scroll">
      <h1> MOVIEMOTIONS </h1>


<h5> How Are You Feeling? </h5>
    <div id="form">
      <form action="/results" method="post">
        <select name="Moods" id="dropdown"> 
                <option value="Happy">Happy</option>
                <option value="Sad">Sad</option>
                <option value="Romantic">Romantic</option>
                <option value="Bored">Bored</option>
                <option value="Old">Old</option>
                <option value="Young">Young</option>
                <option value="Adventerous">Adventerous</option>
                <option value="Energetic">Energetic</option>
                <option value="Curious">Curious</option>
                <option value="Cultural">Cultural</option>
                <option value="Imaginative">Imaginative</option>
                <option value="Musical">Musical</option>

        </select>
          <input type="submit">
</form>
      </div>
    </div>
  </body>
  <div class="footer"> By Katie, Vanessa, Mamadou and NotSoSuper </div>
</html>


