@import url(http://fonts.googleapis.com/css?family=Lora:700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);

h1 {
  font-family: 'Lora', bold;
  color: #FF0066;
  font-size: 75px;
  text-align: center;

}

/*h2 {
  font-family: 'Roboto Slab', serif;
  color: black;
}*/

h5 {
  font-family: 'Roboto Slab', bold;
  color: #00B28F;
  font-size: 40px;
  text-align:center;
  font-weight: bold;
}

h6 {
   font-family: 'Roboto Slab', bold;
  color: #00B28F;
  font-size: 20px;
  text-align:left;
  font-weight: bold;
}

body {
  height: 200px;
  background:url("images/filmstrip.png") no-repeat center center fixed; 
  background-size: 1790px auto;

 
}


 #form {
  text-align: center
 }
select {
  font-family: 'cursive';
  font-size: 40px;
  padding: 20px;
  cursor: pointer;
  margin: 0 auto;
  font-weight: bold;
  position: relative;
  width: 300px;

  color: #fff;
  outline: none;
  text-align: center;

}
.2-film-box{
  width: 100%;
}

.movie {
  text-align: center;
  display: inline-block;
  width:30%;
  margin-left:10%;
  margin-right: 9.8%;
}

.white{
  color: #00B28F;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
}

.black{
  color: #00B28F;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
}

a:link {
    text-decoration: none;
       color: #FF0066;
}

a:visited {
    text-decoration: none;
    color: #FF0066;
}

a:hover {
    text-decoration: underline;
       color: #FF0066;
}

a:active {
    text-decoration: underline;
       color: #FF0066;
}

.colored:nth-child(even){
    color: #00B28F;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
}

.colored:nth-child(odd){
    color: #00B28F;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
}

.footer {
  color: #FF0066;
  position: absolute;
  bottom:13px; 
  font-weight: bold;
  font-size: 25px; 
}

